
@media screen and (min-width: 320px){
    .header-button-fir{
width: 20px;
height: 12px;

}
}
@media screen and (min-width: 320px){
    .header-button-fir-svg{
width: 20px;
height: 12px;
position: absolute;
top: 25px;
right: 20px;
}
}