.footer {
  padding-top: 113px;
  padding-bottom: 25px;
  background: rgba(255, 245, 246, 1);
  @media (min-width: 768px) {
    padding-top: 165px;
    padding-bottom: 18px;
  }
}
.footer__subtitle {
  color: rgba(255, 165, 186, 1);
  width: 232px;
  height: 42px;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 17px;
  @media (min-width: 768px) {
    font-size: 26px;
    width: 340px;
    height: 57px;
    letter-spacing: 4%;
    margin-bottom: 16px;
  }
}
.footer__title {
  color: rgba(212, 20, 67, 1);
  width: 200px;
  height: 76px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  @
}
.footer__socials {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;
  margin-bottom: 46px;
}
.footer__social-item {
  width: 32px;
  height: 32px;
}
.footer__social-item:not(:last-child) {
  margin-right: 28px;
}
.footer__icon {
  width: 32px;
  height: 32px;
}
.footer__contact {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 46px;
  margin-bottom: 47px;
}
.footer-nmbr {
  color: rgba(212, 20, 67, 1);
}
.div-copyright {
  width: 100%;
  border-top: 1px solid rgba(225, 225, 225, 1);
  display: flex;
  justify-content: center;
  width: calc(100% + 40px);
  margin-left: -20px;
}
.copyright-notice {
  width: 150px;
  height: 42px;
  padding-top: 17px;
  color: rgba(144, 126, 130, 1);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}
