<footer class="footer">
  <div class="container">
    <h2 class="footer__subtitle">HOMEMADE ICE CREAM MADE</h2>
    <h1 class="footer__title">WITH PASSION</h1>
    <ul class="footer__socials">
      <li class="footer__social-item">
        <svg class="footer__icon">
          <use href="../symbol-defs (2).svg#icon-github2"></use>
        </svg>
      </li>
      <li class="footer__social-item">
        <svg class="footer__icon">
          <use href="../symbol-defs (2).svg#icon-facebook-1"></use>
        </svg>
      </li>
      <li class="footer__social-item">
        <svg class="footer__icon">
          <use href="../symbol-defs (2).svg#icon-telegram-1"></use>
        </svg>
      </li>
    </ul>
    <p class="footer__contact">Feel free to contact +61 (0) 383 766 284</p>
  </div>
</footer>
