<section class="how-its-made">
  <div class="container">
    <h2 class="how-its-made__subtitle">tradition and love</h2>
    <h1 class="how-its-made__title">how it’s made?</h1>

    <img
      src="./images/corivka.webp"
      alt="cow"
      class="how-its-made__image-main"
    />

    <p class="how-its-made__description">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>

    <div class="how-its-made__text-block">
      <p class="how-its-made__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. <br />
        <br />Aliquam erat volutpat. Aenean accumsan.
      </p>
    </div>

    <button class="how-its-made__button">
      <a href="#" class="how-its-made__button-link">Read more ></a>
    </button>

    <ul class="how-its-made-ul">
      <li class="how-its-made-li">
        <img
          src="./images/721.svg"
          alt="icon"
          class="how-its-made__stat-icon"
        />
        <h3 class="how-its-made-h3">721</h3>
        <p class="how-its-made__stat-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="how-its-made-li">
        <img
          src="./images/16kg.svg"
          alt="icon"
          class="how-its-made__stat-icon"
        />
        <h3 class="how-its-made-h3">16kg</h3>
        <p class="how-its-made__stat-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="how-its-made-li">
        <img src="./images/84.svg" alt="icon" class="how-its-made__stat-icon" />
        <h3 class="how-its-made-h3">84</h3>
        <p class="how-its-made__stat-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>

    <img
      src="./images/home-pic5.webp"
      alt=""
      class="how-its-made__stat-bottom"
    />
  </div>
</section>
