<section class="how-its-made">
  <div class="container">
    <h2 class="how-its-made__subtitle">tradition and love</h2>
    <h1 class="how-its-made__title">how it’s made?</h1>
    <div class="him-div">
      <div class="sidebar-img">
        <picture>
          <source
            srcset="
              ./images/corivka.webp   1x,
              ./images/corivka2x.webp 2x,
              ./images/corivka3x.webp 3x
            "
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/corivka-tablet1x.webp 1x,
              ./images/corivka-tablet2x.webp 2x,
              ./images/corivka-tablet3x.webp 3x
            "
            media="(max-width: 1199px)"
          />

          <source
            srcset="
              ./images/corivka-pc1x.webp 1x,
              ./images/corivka-pc2x.webp 2x,
              ./images/corivka-pc3x.webp 3x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="./images/corivka.webp"
            alt="cow"
            class="how-its-made__image-main"
          />
        </picture>
      </div>
      <div class="sidebar-p">
        <p class="how-its-made__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>

        <p class="how-its-made__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. <br />
          <br />Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button class="how-its-made__button">
          <a href="#" class="how-its-made__button-link">Read more ></a>
        </button>
      </div>
    </div>

    <ul class="how-its-made-ul">
      <li class="how-its-made-li">
        <img
          src="./images/721.svg"
          alt="icon"
          class="how-its-made__stat-icon1"
        />
        <h3 class="how-its-made-h3-1">721</h3>
        <p class="how-its-made__stat-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="how-its-made-li">
        <img
          src="./images/16kg.svg"
          alt="icon"
          class="how-its-made__stat-icon2"
        />
        <h3 class="how-its-made-h3-2">16kg</h3>
        <p class="how-its-made__stat-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="how-its-made-li">
        <img
          src="./images/84.svg"
          alt="icon"
          class="how-its-made__stat-icon3"
        />
        <h3 class="how-its-made-h3-3">84</h3>
        <p class="how-its-made__stat-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./images/home-pic1x.webp 1x,
          ./images/home-pic2x.webp 2x,
          ./images/home-pic3x.webp 3x
        "
        media="(max-width: 767px)"
      />

      <source
        srcset="
          ./images/home-pic-tablet1x.webp 1x,
          ./images/home-pic-tablet2x.webp 2x,
          ./images/home-pic-tablet3x.webp 3x
        "
        media="(max-width: 1119px)"
      />

      <source
        srcset="
          ./images/home-pic-pc1x.webp 1x,
          ./images/home-pic-pc2x.webp 2x,
          ./images/home-pic-pc3x.webp 3x
        "
        media="(min-width: 1200px)"
      />
      <img
        src="./images/home-pic1x.webp"
        alt=""
        class="how-its-made__stat-bottom"
      />
    </picture>
  </div>
</section>
