<section class="comments">
  <div class="container">
    <img
      src="./images/testimonials1.webp"
      alt="Customer testimonial"
      class="comments__image"
    />
    <span class="comments__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </span>
    <div class="comments__author">
      <img
        src="./images/Group8.webp"
        alt="Author avatar"
        class="comments__avatar"
      />
      <p class="comments__name">Emily, Los Angeles</p>
      <img src="./images/hrdots.webp" alt="dots" class="comments__dots" />
    </div>
  </div>
</section>
